.film-button {
  color: rgb(10, 10, 10);
  border-radius: 5px;
  background-color: gold;
}

.people-button {
  background-color: rgb(42, 128, 168);
  border-radius: 5px;

}

header {
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
  font-size: 2em;
}

.film-cards {
  text-align: center;
}

.film-container {
  border: 2px solid black;
  border-radius: 5px;
  background-color: khaki;
  margin: 10px;
}
.logo {
  width: 50%;
}

.people-cards {
  text-align: center;
}

.people-container {
  border: 2px solid black;
  border-radius: 5px;
  background-color: rgb(140, 212, 240);
  margin: 10px;
}